<div class="col-md-12 about-talks">

	<h4>Why me?</h4>

	<p>I'm a public speaker. I deliver presentations where the audience does not fall asleep, learn actionable insights and provide good feedbacks about the conference after.</p>

	<p>All my presentations are based on the real experience of leading tech teams and building products in mobile and gaming industries. I know how to make talk interesting for newbies as well as experts. On the stage, I can wake up an audience in the morning or save the presentation if a projector fails.</p>

	<p>My goal is to bring the quality of TED talks to the technical presentations.</p>

	<p>Reach me if you need a memorable keynote speaker or a presentation where the audience will learn things that are not possible to find in documentation or Stack Overflow. Also, I run workshops to train people how to become a better speaker.</p>
</div>
