<div class="slides-gallery col-md-12">

	<h4>Past Talks</h4>

	<ul>
        {% for item in site.data.slides reversed %}
            <li class="slide-item col-lg-3 col-md-4 col-xs-6">
                <a href="{{ item.slides_url }}" target="_blank">
                    <div class="thumb flow-img" style="background-image: url({{ item.thumbnail | prepend: "/img/slides/" | prepend: site.baseurl }});"></div>
                    <h6 class="slide-title">{{ item.title }}</h6>
                </a>
                <span class="slide-subtitle">
                    {% if item.conference_url %}
                        <a href="{{ item.conference_url }}" target="_blank">{{ item.conference }}</a>, {{ item.date | date: '%B %d, %Y' }}
                    {% else %}
                        {{ item.conference }}, {{ item.date | date: '%B %d, %Y' }}
                    {% endif %}
                </span>
            </li>
        {% endfor %}
    </ul>
</div>
