.article {
    float: none;
    line-height: 1.6em;
    h3, h4, h5, h6 {
        margin: 50px 0 14px;
        line-height: 1.3em;
    }
    h3 {
        font-size: 1.6em;
        letter-spacing: -0.5px;
    }
    h4 {
        font-size: 1.4em;
        letter-spacing: -0.3px;
    }
    h5 {
        font-size: 1.2em;
        font-weight: $bold;
    }
    h6 {
        font-size: 1em;
        text-transform: uppercase;
    }
    p {
        margin-bottom: 1em;
    }
    ol, ul {
        margin: 0 0 15px 30px;
        @media (max-width: 767px) {
            margin-left: 0;
        }
        ol ul {
            margin-bottom: 0;
        }
    }
    li {
        margin: 0;
    }
    blockquote {
        position: relative;
        color: #777777;
        font-style: italic;
        padding-left: 50px;
        border: 0px;
        &:before {
            content: open-quote;
            color: #cccccc;
            font-size: 100px;
            font-style: normal;
            font-family: sans-serif;
            position: absolute;
            left: 10px;
            top: 25px;
        }
        p {
            margin-bottom: 0.75em;
        }
    }
    img {
        @extend .img-responsive;
        margin: 30px auto;
        border-radius: 3px;
        box-shadow: 0 1px 4px rgba(0, 0, 0, .2);
        &.medium-width {
            @media (min-width: 768px) {
                max-width: 400px;
            }
        }
    }
}
.h-light {
    margin: 25px 15px;
    padding: 20px;
    overflow: hidden;
    border-left-width: 5px;
    border-left-style: solid;
    &:before {
        display: block;
        font-weight: $bold;
    }
    @media (max-width: 767px) {
        margin: 25px 0;
    }
}
.h-note {
    @extend .h-light;
    border-left-color: $note-color;
    background: rgba($note-color, .05);
    &:before {
        content: 'Note';
    }
}
.h-warning {
    @extend .h-light;
    border-left-color: $warning-color;
    background: rgba($warning-color, .05);
    &:before {
        content: 'Warning';
    }
}
.h-tip {
    @extend .h-light;
    border-left-color: $tip-color;
    background: rgba($tip-color, .05);
    &:before {
        content: 'Tip';
    }
}
.h-disclaimer {
    @extend .h-light;
    border-left-color: $disclaimer-color;
    background: rgba($disclaimer-color, .05);
    &:before {
        content: 'Disclaimer';
    }
}
.req {
    margin-top: -20px;
    font-size: .7em;
    font-style: italic;
    color: $sub-text-color;
}
.article-header {
    margin-bottom: 40px;
    padding: 40px 0 50px;
    background: $header-color;
    @media (max-width: 767px) {
        padding: 20px 0 30px;
    }
}
.article-title {
    margin-bottom: 10px;
    color: #ffffff;
}
.article-description {
    color: $sub-text-color;
}
.article-meta {
    float: right;
    font-size: $base-font-size * 0.9;
    text-transform: uppercase;
    z-index: 1;
    @media (max-width: 767px) {
        float: left;
        font-size: $base-font-size * 0.8;
    }
    ul {
        margin: 50px 0 30px 30px;
        padding: 25px;
        background: #222222;
        @media (max-width: 991px) {
            margin: 0 auto 40px;
        }
    }
    li {
        margin-bottom: 20px;
        list-style: none;
        &:last-child {
            margin: 0;
        }
    }
    a {
        color: #ffffff;
        &:hover {
            color: rgba(255, 255, 255, .8);

        }
    }
    .name {
        color: $sub-text-color;
        display: block;
        line-height: 100%;
    }
    .value {
        color: #ffffff;
        display: inline-block;
        line-height: 100%;
    }
}
.post-switcher {
    margin-top: 40px;
    overflow: hidden;
}
.switcher-item {
    a {
        padding: 20px;
        display: table;
        width: 100%;
        background: rgba($text-color, 0.03);
        color: $text-color;
        transition: background $transition-duration $transition-animation;
        &:hover, &:active, &:focus {
            background: rgba($text-color, 0.06);
        }
        @media (min-width: 768px) {
            margin-bottom: -99999px;
            padding-bottom: 99999px + 20;
        }
    }
    .arrow {
        display: table-cell;
        vertical-align: middle;
        font-size: 24px;
    }
}
.switcher-content {
    display: table-cell;
    padding: 10px;
}
.comments {
    margin-top: 50px;
}
