.blog-container {
    padding-top: 50px;
    @media (max-width: 767px) {
        padding-top: 20px;
    }
    hr {
        margin: 50px 15px;
    }
}
.article-list {
    ul {
        padding: 0;
    }
    .left {
        width: 75px;
        float: left;
        @media (max-width: 767px) {
            width: 60px;
        }
    }
    .right {
        margin-left: 100px;
        @media (max-width: 767px) {
            margin-left: 80px;
        }
    }
    .date {
        color: $main-color;
        text-transform: uppercase;
        font-weight: $bold;
    }
    .year {
        font-weight: $bold;
        color: $header-color;
        line-height: 100%;
        font-size: $base-font-size * 0.8;
    }
    .article-title {
        color: $header-color;
        transition: $color-animation;
    }
    .article-intro {
        color: $text-color;
        transition: $color-animation;
    }
    .categories {
        color: $main-color-second;
        transition: $color-animation;
    }
}
.article-item {
    margin-bottom: 50px;
    list-style: none;
    &:last-child {
        margin: 0;
    }
    &:hover, &:active, &:focus {
        .article-title {
            color: lighten($header-color, $link-lighten-amount);
        }
        .article-intro {
            color: lighten($text-color, $link-lighten-amount);
        }
        .categories {
            color: lighten($main-color-second, $link-lighten-amount);
        }
    }
    span {
        display: block;
    }
}
.pagination {
    margin: 50px 0 0 100px;
    @media (max-width: 767px) {
        margin: 30px 0 0 80px;
    }
    span, a {
        padding: 0px 2px;
    }
}
