<head>
    {% if page.title %}
        {% assign pageTitle = page.title | append: " &#8226; " | append: site.data.personal.title %}
    {% else %}
        {% assign pageTitle = site.data.personal.title %}
    {% endif %}
    
    {% if page.description %}
        {% assign pageDescription = page.description %}
    {% else %}
        {% assign pageDescription = site.data.personal.description %}
    {% endif %}

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="google-site-verification" content="{{ site.webtools_site_verification }}" />
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0">
    <meta name="theme-color" content="#FF9900">

    <meta name="author" content="{{ page.author }}">
    <meta itemprop="name" content="{{ pageTitle }}">
    <meta name="description" itemprop="description" content="{{ pageDescription }}">
    <meta name="keywords" content="{{ site.data.personal.keywords }}">

    <!-- Social: Twitter -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="{{ "@" | append: site.data.personal.twitter }}">
    <meta name="twitter:title" content="{{ pageTitle }}">
    <meta name="twitter:description" content="{{ pageDescription }}">
    <meta name="twitter:image:src" content="{% if page.image %}{{ page.image }}{% else %}{{ site.data.personal.twitter_image | prepend: site.baseurl | prepend: site.url }}{% endif %}">

    <!-- Social: Facebook / Open Graph -->
    <meta property="og:title" content="{{ pageTitle }}" />
    <meta property="og:site_name" content="{{ site.data.personal.title }}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ site.url | append: site.baseurl }}" />
    <meta property="og:description" content="{{ pageDescription }}" />
    <meta property="og:image" content="{% if page.image %}{{ page.image }}{% else %}{{ site.data.personal.facebook_image | prepend: site.baseurl | prepend: site.url }}{% endif %}" />

    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ "/feed.xml" | prepend: site.baseurl }}">

    <title>{{ pageTitle }}</title>

    {% include meta/favicons.html %}

    <link rel="stylesheet" type="text/css" href="{{ "/css/blog.css" | prepend: site.baseurl }}">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
