<div class="projects-widget col-md-5 col-md-offset-1">
    <span class="widget-title">Projects I'm working on</span>
    <ul>
        {% for group in site.data.projects %}
            {% for item in group.elements reversed %}
                {% if item.featured %}
                <li class="project-item">
                    <a href="{{ item.project_page }}">
                        <h6 class="project-title">{{ item.title }}</h6>
                        <p class="project-details">{{ item.description | truncate: 50 }}</p>
                    </a>
                </li>
                {% endif %}
            {% endfor %}
        {% endfor %}
    </ul>
    <a class="side-link" href="{{ " /projects/ " || prepend: site.baseurl }}">See all</a>
</div>
